<!DOCTYPE html>
<html lang="pt">
<head>
        <meta charset="utf-8" />
        <title>PET-Física UFRPE - "Iury Xavier"</title>
        <link rel="stylesheet" href="/theme/css/main.css" />

        <!--[if IE]>
            <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<body id="index" class="home">
        <header id="banner" class="body">
                <h1><a href="/">PET-Física UFRPE </a></h1>
                <nav><ul>
                    <li><a href="/pages/sobre-nos.html">Sobre nós</a></li>
                    <li><a href="/pages/participantes.html">"Participantes"</a></li>
                    <li><a href="/pages/propostas.html">"Propostas"</a></li>
                    <li><a href="/category/blog.html">blog</a></li>
                </ul></nav>
        </header><!-- /#banner -->

            <aside id="featured" class="body">
                <article>
                    <h1 class="entry-title"><a href="/um-pouco-de-latex.html">"Um pouco de latex"</a></h1>
<footer class="post-info">
        <abbr class="published" title="2016-07-29T00:00:00-03:00">
                Published: sex 29 julho 2016
        </abbr>

        <address class="vcard author">
                By                         <a class="url fn" href="/author/iury-xavier.html">"Iury Xavier"</a>
        </address>
<p>In <a href="/category/blog.html">blog</a>.</p>

</footer><!-- /.post-info --><h1>Latex em MarkDown com MathJax</h1>
<p>$$
\begin{align<em>}
   \phi(x,y) = \phi \left(\sum_{i=1}^n x_ie_i, \sum_{j=1}^n y_je_j \right) = 
\end{align</em>}
$$</p>
<p>$$
\begin{align*}
    \sum_{i=1}^n \sum_{j=1}^n x_i y_j \phi(e_i, e_j) = (x_1, \ldots, x_n)
    \left(
        \begin{array}{ccc}
            \phi(e_1, e_1) &amp; \cdots &amp; \phi(e_1, e_n) \
            \vdots &amp; \ddots &amp; \vdots \
            \phi(e_n, e_1) &amp; \cdots &amp; \phi(e_n, e_n)
        \end{array} 
    \right)</p>
<div class="highlight"><pre><span></span>\left( 
    \begin{array}{c}
        y_1 \\
        \vdots \\
        y_n
    \end{array} 
\right)
</pre></div>


<p>\end{align*}
$$</p>
<h2>Com latex podemos nos divertir em montar equações bonitas</h2>                </article>
            </aside><!-- /#featured -->
                <section id="content" class="body">
                    <h1>Other articles</h1>
                    <hr />
                    <ol id="posts-list" class="hfeed">

            <li><article class="hentry">
                <header>
                    <h1><a href="/python-texto-vs-shell.html" rel="bookmark"
                           title="Permalink to "Python texto vs shell"">"Python texto vs shell"</a></h1>
                </header>

                <div class="entry-content">
<footer class="post-info">
        <abbr class="published" title="2016-07-28T00:00:00-03:00">
                Published: qui 28 julho 2016
        </abbr>

        <address class="vcard author">
                By                         <a class="url fn" href="/author/iury-xavier.html">"Iury Xavier"</a>
        </address>
<p>In <a href="/category/blog.html">blog</a>.</p>

</footer><!-- /.post-info -->                <h1>Markdown e Trinket.io</h1>
<p>{% include trinket-open type='python' %}
import turtle</p>
<p>tina = turtle.Turtle()</p>
<p>for c in ['red', 'green', 'yellow', 'blue']:
    tina.color(c)
    tina.forward(75)
    tina.left(90)</p>
<p _="%" include trinket-close>tina.penup()
tina.backward(100)
tina.write("Hello world!")</p>
<p>{% include trinket-open type='glowscript' height='600' %}</p>
<h1>GlowScript 1.1 VPython</h1>
<p>scene.caption …</p>
                <a class="readmore" href="/python-texto-vs-shell.html">read more</a>
                </div><!-- /.entry-content -->
            </article></li>
                </ol><!-- /#posts-list -->
                </section><!-- /#content -->
        <section id="extras" class="body">
                <div class="blogroll">
                        <h2>links</h2>
                        <ul>
                            <li><a href="http://getpelican.com/">Pelican</a></li>
                            <li><a href="http://python.org/">Python.org</a></li>
                            <li><a href="http://jinja.pocoo.org/">Jinja2</a></li>
                            <li><a href="#">You can modify those links in your config file</a></li>
                        </ul>
                </div><!-- /.blogroll -->
                <div class="social">
                        <h2>social</h2>
                        <ul>

                            <li><a href="#">You can add links in your config file</a></li>
                            <li><a href="#">Another social link</a></li>
                        </ul>
                </div><!-- /.social -->
        </section><!-- /#extras -->

        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.
                </address><!-- /#about -->

                <p>The theme is by <a href="http://coding.smashingmagazine.com/2009/08/04/designing-a-html-5-layout-from-scratch/">Smashing Magazine</a>, thanks!</p>
        </footer><!-- /#contentinfo -->

</body>
</html>